*{
    background-color: #333;
    color:#20d848;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.name{
   font-size:1rem; 
   font-weight:700;
   font-family: Arial, Helvetica, sans-serif;
   filter: drop-shadow(2px 2px 10px rgb(247, 247, 27));
color: yellow;
} 
.banner{
    background-image: url(//occ-0-3215-3662.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWcOJREo-h7_Dhe4stjffDUhbO4mzslQd5rtQvcTY-1LX9IgPqZGx5ghK99vgMumhvGS68J-9gs5SDubEYqnij4eQA3VOQf1wGi4.jpg?r=ea7&quot);
    background-size:cover;
    background-position:center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 600px;
    


}
.posters{
    display: flex;
}

